h3.create_style {
    color: #143875;
    padding-bottom: 25px;
}
.create{
	text-align:  center;
    border-radius: 8px;
    border: 2px solid transparent;
}
.padding{
	padding-right: 5px;
}
.text-right.next_button {
    padding: 0 10px 10px 0;
}
.create.current {
	border: 2px solid #00b9ee;
}
/*.share, .timeline, .instagram_parent, .twitter_parent{
	border
}*/